{% extends 'base.html.twig' %}

{% block content %}
        <section id="central-section" class="bg-light p-5">
        <div class="container jumbotron p-5 img-rounded">
            <div class="row mb-5">
                <div class="col-lg">
                    <form method="GET" action="">
                        <input style="width: 100%; height: 50px; font-size: 25px;" name="keyword" type="text" value="Harry Potter"/>
                    </form>
                    <h1 class="display-4 font-weight-bold">Searching movie "Harry Potter".</h1>
                </div>
            </div>
            <div class="row mb-4 text-center text-md-left">
                <div class="col-lg-3 pb-3">
                    <p class="lead font-weight-bold">Top Rated Movies By Genre</p>
                    <ul class="list-unstyled">
                        <li><a href="#" title="Choose your movie by genre">Action</a></li>
                        <li><a href="#" title="Choose your movie by genre">Adventure</a></li>
                        <li><a href="#" title="Choose your movie by genre">Animation</a></li>
                        <li><a href="#" title="Choose your movie by genre">Biography</a></li>
                        <li><a href="#" title="Choose your movie by genre">Comedy</a></li>
                        <li><a href="#" title="Choose your movie by genre">Crime</a></li>
                        <li><a href="#" title="Choose your movie by genre">Drama</a></li>
                        <li><a href="#" title="Choose your movie by genre">Family</a></li>
                        <li><a href="#" title="Choose your movie by genre">Fantasy</a></li>
                        <li><a href="#" title="Choose your movie by genre">Film-Noir</a></li>
                        <li><a href="#" title="Choose your movie by genre">History</a></li>
                        <li><a href="#" title="Choose your movie by genre">Horror</a></li>
                        <li><a href="#" title="Choose your movie by genre">Music</a></li>
                        <li><a href="#" title="Choose your movie by genre">Musical</a></li>
                        <li><a href="#" title="Choose your movie by genre">Mystery</a></li>
                        <li><a href="#" title="Choose your movie by genre">Romance</a></li>
                        <li><a href="#" title="Choose your movie by genre">Sci-Fi</a></li>
                        <li><a href="#" title="Choose your movie by genre">Sport</a></li>
                        <li><a href="#" title="Choose your movie by genre">Thriller</a></li>
                        <li><a href="#" title="Choose your movie by genre">War</a></li>
                        <li><a href="#" title="Choose your movie by genre">Western</a></li>
                    </ul>
                    <p class="lead font-weight-bold">Top Rated Movies By Year</p>
                    <ul class="list-unstyled">
                        <li><a href="#" title="Choose your movie by year">2020-2029</a></li>
                        <li><a href="#" title="Choose your movie by year">2010-2019</a></li>
                        <li><a href="#" title="Choose your movie by year">2000-2009</a></li>
                        <li><a href="#" title="Choose your movie by year">1990-1999</a></li>
                        <li><a href="#" title="Choose your movie by year">1980-1989</a></li>
                        <li><a href="#" title="Choose your movie by year">1970-1979</a></li>
                        <li><a href="#" title="Choose your movie by year">1960-1969</a></li>
                        <li><a href="#" title="Choose your movie by year">1950-1959</a></li>
                        <li><a href="#" title="Choose your movie by year">1940-1949</a></li>
                        <li><a href="#" title="Choose your movie by year">1930-1939</a></li>
                        <li><a href="#" title="Choose your movie by year">1920-1929</a></li>
                    </ul>
                </div>
                <div class="col-lg-9 table-responsive img-rounded bg-light p-3">
                    <table id="top-rated-movie-table" class="table table-hover table-striped tablesorter tablesorter-bootstrap">
                        <thead>
                        <tr>
                            <th class="sr-only"></th>
                            <th>Title</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                                                        <tr>
        <td><img src="https://m.media-amazon.com/images/M/MV5BMGVmMWNiMDktYjQ0Mi00MWIxLTk0N2UtN2ZlYTdkN2IzNDNlXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_SX300.jpg" width="45" height="67" alt="Harry Potter and the Deathly Hallows: Part 2"></td>
        <td>Harry Potter and the Deathly Hallows: Part 2 <span class="text-muted">(2011)</td>
        <td><a href="/movie/tt1201607/import" title="Import movie data from IMDB into database"><i class="far fa-arrow-alt-circle-down"></i></a></td>
    </tr>

                                                        <tr>
        <td><img src="https://m.media-amazon.com/images/M/MV5BNjQ3NWNlNmQtMTE5ZS00MDdmLTlkZjUtZTBlM2UxMGFiMTU3XkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_SX300.jpg" width="45" height="67" alt="Harry Potter and the Sorcerer&#039;s Stone"></td>
        <td>Harry Potter and the Sorcerer&#039;s Stone <span class="text-muted">(2001)</td>
        <td><a href="/movie/tt0241527/import" title="Import movie data from IMDB into database"><i class="far fa-arrow-alt-circle-down"></i></a></td>
    </tr>

                                                        <tr>
        <td><img src="https://m.media-amazon.com/images/M/MV5BMTcxODgwMDkxNV5BMl5BanBnXkFtZTYwMDk2MDg3._V1_SX300.jpg" width="45" height="67" alt="Harry Potter and the Chamber of Secrets"></td>
        <td>Harry Potter and the Chamber of Secrets <span class="text-muted">(2002)</td>
        <td><a href="/movie/tt0295297/import" title="Import movie data from IMDB into database"><i class="far fa-arrow-alt-circle-down"></i></a></td>
    </tr>

                                                        <tr>
        <td><img src="https://m.media-amazon.com/images/M/MV5BMTY4NTIwODg0N15BMl5BanBnXkFtZTcwOTc0MjEzMw@@._V1_SX300.jpg" width="45" height="67" alt="Harry Potter and the Prisoner of Azkaban"></td>
        <td>Harry Potter and the Prisoner of Azkaban <span class="text-muted">(2004)</td>
        <td><a href="/movie/tt0304141/import" title="Import movie data from IMDB into database"><i class="far fa-arrow-alt-circle-down"></i></a></td>
    </tr>

                                                        <tr>
        <td><img src="https://m.media-amazon.com/images/M/MV5BMTI1NDMyMjExOF5BMl5BanBnXkFtZTcwOTc4MjQzMQ@@._V1_SX300.jpg" width="45" height="67" alt="Harry Potter and the Goblet of Fire"></td>
        <td>Harry Potter and the Goblet of Fire <span class="text-muted">(2005)</td>
        <td><a href="/movie/tt0330373/import" title="Import movie data from IMDB into database"><i class="far fa-arrow-alt-circle-down"></i></a></td>
    </tr>

                                                        <tr>
        <td><img src="https://m.media-amazon.com/images/M/MV5BMTM0NTczMTUzOV5BMl5BanBnXkFtZTYwMzIxNTg3._V1_SX300.jpg" width="45" height="67" alt="Harry Potter and the Order of the Phoenix"></td>
        <td>Harry Potter and the Order of the Phoenix <span class="text-muted">(2007)</td>
        <td><a href="/movie/tt0373889/import" title="Import movie data from IMDB into database"><i class="far fa-arrow-alt-circle-down"></i></a></td>
    </tr>

                                                        <tr>
        <td><img src="https://m.media-amazon.com/images/M/MV5BMTQ2OTE1Mjk0N15BMl5BanBnXkFtZTcwODE3MDAwNA@@._V1_SX300.jpg" width="45" height="67" alt="Harry Potter and the Deathly Hallows: Part 1"></td>
        <td>Harry Potter and the Deathly Hallows: Part 1 <span class="text-muted">(2010)</td>
        <td><a href="/movie/tt0926084/import" title="Import movie data from IMDB into database"><i class="far fa-arrow-alt-circle-down"></i></a></td>
    </tr>

                                                        <tr>
        <td><img src="https://m.media-amazon.com/images/M/MV5BNzU3NDg4NTAyNV5BMl5BanBnXkFtZTcwOTg2ODg1Mg@@._V1_SX300.jpg" width="45" height="67" alt="Harry Potter and the Half-Blood Prince"></td>
        <td>Harry Potter and the Half-Blood Prince <span class="text-muted">(2009)</td>
        <td><a href="/movie/tt0417741/import" title="Import movie data from IMDB into database"><i class="far fa-arrow-alt-circle-down"></i></a></td>
    </tr>

                                                        <tr>
        <td><img src="https://m.media-amazon.com/images/M/MV5BNDM0YzMyNGUtMTU1Yy00OTE2LWE5NzYtZDZhMTBmN2RkNjg3XkEyXkFqcGdeQXVyMzU5NjU1MDA@._V1_SX300.jpg" width="45" height="67" alt="Harry Potter and the Forbidden Journey"></td>
        <td>Harry Potter and the Forbidden Journey <span class="text-muted">(2010)</td>
        <td><a href="/movie/tt1756545/import" title="Import movie data from IMDB into database"><i class="far fa-arrow-alt-circle-down"></i></a></td>
    </tr>

                                                        <tr>
        <td><img src="https://m.media-amazon.com/images/M/MV5BNTM4NzQ2NjA4NV5BMl5BanBnXkFtZTgwODAwMjE4MDE@._V1_SX300.jpg" width="45" height="67" alt="Harry Potter and the Chamber of Secrets"></td>
        <td>Harry Potter and the Chamber of Secrets <span class="text-muted">(2002)</td>
        <td><a href="/movie/tt0304140/import" title="Import movie data from IMDB into database"><i class="far fa-arrow-alt-circle-down"></i></a></td>
    </tr>

                        
                        </tbody>
                    </table>
                    <nav class="m-4">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
